* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

header {
  background-color: #950101;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  background-image: url(../img/movie.jpeg);
  background-size: cover;
  background-position: 0px -85px;
  background-repeat: no-repeat;
}
/* 
.form-commentInfo {
  width: 100%;
}

#comment-count {
  margin-bottom: 10px;
}

#reviewer {
  width: 10%;
  height: 3.3em;
}

#reviewContent {
  width: 50%;
  height: 3.3em;
}

#submit {
  background-color: #f1f6f9;
  width: 5.5em;
  height: 3.3em;
  font-size: 15px;
  font-weight: bold;
  color: #394867;
}

#comments {
  margin-top: 10px;
}

.user-comment {
  width: 50%;
  margin: 10px;
  padding: 0.5em;
  border-bottom: 1px solid #c1bcba;
}

.eachComment .name {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.3em;
  display: flex;
  justify-content: space-between;
}

.eachComment .inputValue {
  font-size: 1.2em;
  font-style: italic;
}

.eachComment .time {
  font-size: 0.7em;
  color: #c1bcba;
  font-style: oblique;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.eachComment .deleteComment {
  background-color: #f5d042;
  font-weight: bold;
  color: #0a174e;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}  */

/* commentBox.css */

/* Comment Box Styles */

.form-commentInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.input-box input[type='text'],
.input-box input[type='password'] {
  padding: 8px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 200px;
  margin-bottom: 5px;
}

.input-box button[type='submit'] {
  padding: 8px 20px;
  border: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.review-row {
  width: 80%;
  border: 2px solid #333;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.user-box {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.user-nick {
  font-weight: bold;
  margin-right: 10px;
}

.review-text {
  color: #333;
}

.remove-comment,
.modify-comment {
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  color: #3897f0;
  cursor: pointer;
}

.remove-comment:hover,
.modify-comment:hover {
  text-decoration: underline;
}

br {
}
