#form-commentInfo {
  width: 100%;
}

#comment-count {
  margin-bottom: 10px;
}

#nick-input {
  width: 10%;
  height: 3.3em;
}

#comment-input {
  width: 50%;
  height: 3.3em;
}

#submit {
  background-color: #f1f6f9;
  width: 5.5em;
  height: 3.3em;
  font-size: 15px;
  font-weight: bold;
  color: #394867;
}

#comments {
  margin-top: 10px;
}

.eachComment {
  width: 50%;
  margin: 10px;
  padding: 0.5em;
  border-bottom: 1px solid #c1bcba;
}

.eachComment .name {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.3em;
  display: flex;
  justify-content: space-between;
}

.eachComment .inputValue {
  font-size: 1.2em;
  font-style: italic;
}

.eachComment .time {
  font-size: 0.7em;
  color: #c1bcba;
  font-style: oblique;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.eachComment .deleteComment {
  background-color: #f5d042;
  font-weight: bold;
  color: #0a174e;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
