body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
p {
  margin: 0;
}
p {
  margin-top: 15px;
}
img {
  width: 60%;
  vertical-align: middle;
  box-sizing: content-box;
  padding: 0 25%;
}
main {
  max-width: 1200px;
  margin: 0 auto;
}
.detail-main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  padding: 90px 0;
  font-size: large;
  border: solid #19b783 5px;
  border-radius: 10px;
  box-sizing: content-box;
  margin: 20px 0;
  color: #19b783;
  background-color: #1b1e26;
}

.trailer {
  display: flex;
  gap: 20px;
  overflow: auto;
}
