body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
p {
  margin: 0;
}
img {
  width: 100%;
  vertical-align: middle;
}
main {
  max-width: 1200px;
  margin: 0 auto;
}
.detail-main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
  padding: 90px 0;
}

.trailer {
  display: flex;
  gap: 20px;
  overflow: auto;
}
/* 동영상 CSS */
.movie_contents {
  font-size: 2rem;
  font-weight: 400;
  color: #1b1e26;
}
.movie_name {
  margin: 12px 0 10px 0;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  color: #1b1e26;
}
.youtube {
  width: 3%;
  height: 1%;
  margin: 7px 8px 16px 0px;
}
.trailer {
  margin: 0 20px;
}
