<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GrownUpTeam상세페이지</title>

    <link rel="stylesheet" href="../static/css/commentBox.css" />
    <script type="module" src="../static/modules/comment.js"></script>
  </head>
  <body>
    <div id="form-commentInfo">
      <div id="comment-count">댓글 <span id="count">0</span></div>
      <input id="nick-input" placeholder="닉네임" />
      <input id="comment-input" placeholder="댓글을 입력해 주세요." />
      <button id="submit">등록</button>
    </div>
    <div id="comments"></div>
  </body>
</html>
