<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GrownUpTeam상세페이지</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/commentBox.css" />
    <link rel="stylesheet" href="../static/css/detail.css" />
    <!-- <script src="../static/modules/comment.js" type="module"></script> -->
    <!-- <script src="../static/modules/serve.js" type="module"></script> -->

    <script>
      document.addEventListener('DOMContentLoaded', () => {
        show_comments(movieId);
      });

      const movieId = location.pathname.split('/').slice(2);

      const options = {
        method: 'GET',
        headers: {
          accept: 'application/json',
          Authorization:
            'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIwMDZhZTNhNzI5OTNhOTI2NGQxNWQzNGEzNTdlYzhlZSIsInN1YiI6IjY0NzRhNDNmNWNkMTZlMDBkYzNlOWRjYiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.3TEUDm0P7pa-OyHhIfV60sMS5UGuVcRl613Ht0hF68Q'
        }
      };
      // 해당 데이터 api 가져오기
      fetch(`https://api.themoviedb.org/3/movie/${movieId}`, options)
        .then(response => response.json())
        .then(response => {
          const title = document.querySelector('.movie-title');
          const img = document.querySelector('.movie-img');
          const description = document.querySelector('.movie-description');
          title.innerText = response.title;
          img.setAttribute('src', `https://image.tmdb.org/t/p/original/${response.poster_path}`);
          description.innerText = response.overview;
        })
        .catch(err => console.error(err));

      fetch(`https://api.themoviedb.org/3/movie/${movieId}/videos?language=en-US`, options)
        .then(responsed => responsed.json())
        .then(responsed => {
          let example = responsed['results'];
          const trailer = document.querySelector('.trailer');
          trailer.innerHTML = '';

          //동영상들 설정
          example.slice(0, 4).forEach(abc => {
            let temphtml = `
            <div class="movie_trailer">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/${abc.key}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen
            style="border-radius:12px"></iframe>
            <div class="movie_name">${abc.name}</div>
            </div>`;
            trailer.insertAdjacentHTML('beforeend', temphtml);
          });
        })
        .catch(err => console.error(err));

      // 리뷰 저장
      function save_comment() {
        const reviewer = document.querySelector('#reviewer').value;
        const reviewText = document.querySelector('#reviewContent').value;
        const reviewPWD = document.querySelector('#reviewPWD').value;

        // 유효성 검사

        let number = reviewPWD.search(/[0-9]/g);
        let english = reviewPWD.search(/[a-z]/gi);
        let mix = reviewPWD.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/gi);

        if (!reviewer) {
          alert('아이디를 입력 하세요');
          document.querySelector('#reviewer').focus();
          return;
        } else if (!reviewText) {
          alert('리뷰를 작성해 주세요');
          document.querySelector('#reviewContent').focus();
          return;
        } else if (reviewPWD.length < 8 || reviewPWD.length > 20) {
          alert('비밀번호는 8자리 ~ 20자리 이내로 입력해 주세요');
          document.querySelector('#reviewPWD').focus();
          return;
        } else if (number < 0 || english < 0 || mix < 0) {
          alert('영문,숫자,특수문자를 혼합하여 입력해주세요.');
          passwordInput.focus();
          return;
        }

        let formData = new FormData();
        formData.append('movieId', movieId);
        formData.append('reviewer', reviewer);
        formData.append('reviewText', reviewText);
        formData.append('reviewPWD', reviewPWD);

        fetch('/comment/register', { method: 'POST', body: formData })
          .then(res => res.json())
          .then(data => {
            alert(data['msg']);
          })
          .catch(err => console.err(err));
      }

      // 리뷰 리스트
      function show_comments(movieId) {
        const newMovieId = movieId[0];

        let formData = new FormData();
        formData.append('movieId', newMovieId);

        fetch('/comment/list', {
          method: 'POST',
          body: formData
        })
          .then(res => res.json())
          .then(data => {
            const members = data['result'];
            members.forEach(member => {
              const uid = member['_id'];
              const movieId = member['movieId'];
              const reviewer = member['reviewer'];
              const reviewText = member['reviewText'];
              const reviewPWD = member['reviewPWD'];

              const card_html = `
                                <div data-id="${uid}" class="comment-box">
                                  <p>${reviewer}(${reviewPWD}): <span class="review-text">${reviewText}</span></p>
                                  <div>
                                    <button type="button" class="remove-comment">삭제</button>
                                    <button type="button" class="modify-comment">수정</button>
                                  </div>
                                </div>
                              `;

              document.querySelector('.review-row').innerHTML += card_html;
            });
          })
          .catch(err => console.log(err));
      }

      document.addEventListener('click', function (e) {
        // 리뷰 삭제
        if (e.target && e.target.className == 'remove-comment') {
          const targetUid = e.target.parentElement.parentElement.dataset.id;
          let inputPwd = prompt('비밀번호를 입력해 주세요');

          let formData = new FormData();
          formData.append('targetUid', targetUid);
          formData.append('inputPwd', inputPwd);

          fetch('/comment/delete', {
            method: 'DELETE',
            body: formData
          })
            .then(res => res.json())
            .then(data => {
              alert(data['msg']);
              window.location.reload();
            });
        }
        // 리뷰 수정: 비번체크
        if (e.target && e.target.className == 'modify-comment') {
          const targetUid = e.target.parentElement.parentElement.dataset.id;
          let inputPwd = prompt('비밀번호를 입력해 주세요');

          let formData = new FormData();
          formData.append('targetUid', targetUid);
          formData.append('inputPwd', inputPwd);

          fetch('/comment/updateChk', {
            method: 'POST',
            body: formData
          })
            .then(res => res.json())
            .then(data => {
              if (data['msg'] === '수정가능') {
                const reviewTextTag =
                  e.target.parentElement.parentElement.querySelector('.review-text');
                const originalReview = reviewTextTag.innerText;
                const inputTextTag = document.createElement('input');
                inputTextTag.setAttribute('type', 'text');
                inputTextTag.classList.add('review-text');
                inputTextTag.value = originalReview;
                inputTextTag.innerHTML = reviewTextTag.innerHTML;
                reviewTextTag.parentNode.replaceChild(inputTextTag, reviewTextTag);
                const completeModifyBtn = document.createElement('button');
                completeModifyBtn.innerText = '저장';
                completeModifyBtn.setAttribute('type', 'submit');
                completeModifyBtn.classList.add('modify-complete');
                e.target.parentElement.append(completeModifyBtn);
                e.target.style.display = 'none';

                document.addEventListener('click', function (e) {
                  // console.log(inputTextTag.value);
                  // 리뷰 수정: 수정내용 저장
                  if (e.target && e.target == completeModifyBtn) {
                    formData.append('reviewText', inputTextTag.value);
                    fetch('/comment/update', {
                      method: 'PUT',
                      body: formData
                    })
                      .then(res => res.json())
                      .then(data => {
                        alert(data['msg']);
                        window.location.reload();
                      });
                  }
                });
              } else {
                alert(data['msg']);
              }
            });
        }
      });
    </script>
  </head>
  <body>
    <header>
      <div class="bannerText">
        <a href="/">MOVIE INFORMATION</a>
      </div>
    </header>

    <main>
      <section class="detail-main">
        <div>
          <img src="" alt="" class="movie-img" />
        </div>
        <div>
          <h2 class="movie-title"></h2>
          <p class="movie-description"></p>
        </div>
      </section>

      <section class="menu">
        <div class="movie_contents">
          <img src="../static/icon/youtube.png" class="youtube" />
          <span>Trailer</span>
        </div>
        <div class="trailer" id="trailer"></div>
      </section>

      <section class="comment-wrapper">
        <h3>Comments</h3>
        <form>
          <div class="comment-write01">
            <div>
              <label for="reviewer">작성자: </label>
              <input type="text" id="reviewer" />
            </div>
            <div>
              <label for="reviewPWD">비밀번호: </label>
              <input type="password" name="" id="reviewPWD" />
            </div>
          </div>
          <div class="comment-write02">
            <label for="reviewContent">코멘트: </label>
            <input type="text" id="reviewContent" />
            <button type="submit" onclick="save_comment()">등록</button>
          </div>
        </form>
        <div class="review-row"></div>
      </section>

      <!-- <section class="mains" id="mains"></section>
      <div>
        <div id="form-commentInfo">
          <div id="comment-count">댓글 <span id="count">0</span></div>
          <input id="nick-input" placeholder="닉네임" />
          <input id="comment-input" placeholder="댓글을 입력해 주세요." />
          <button id="submit">등록</button>
        </div>
        <div id="comments"></div>
      </div> -->
    </main>
  </body>
</html>
